{% extends 'app/base.html' %} {% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="" />
    </head>
    <body>
        {% block register %}
        <section
            class="bg-image"
            style="background-image: url('https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg');  height: 87vh"
        >
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 50px; width: 500px">
                                <div class="card-body p-5">
                                    <h3 class="text-uppercase text-center mb-5">Create an account</h3>

                                    <form method="POST" action="">
                                        {% csrf_token %}

                                        <div class="form-outline mb-4">
                                            {{form.username}}
                                        </div>

                                        <div class="form-outline mb-4">
                                            {{form.email}}
                                        </div>

                                        <div class="form-outline mb-4">
                                            {{form.first_name}}
                                        </div>

                                        <div class="form-outline mb-4">
                                            {{form.last_name}}
                                        </div>

                                        <div class="form-outline mb-4">
                                            {{form.password1}}
                                        </div>

                                        <div class="form-outline mb-4">
                                            {{form.password2}}
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-outline-success rounded">Register</button>
                                        </div>

                                        <p class="text-center text-muted mt-5 mb-0">
                                            Have already an account?
                                            <a href={% url 'login'%} class="fw-bold text-body"><u>Login</u></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="" async defer></script>
        {% endblock register %}
    </body>
</html>
